/* 
=====================
Estilização do global
===================== 
*/

body{
    font-family: Arial, Helvetica, sans-serif; /* Altera o tipo de fonte presente no documento*/
    background-color: #f7f7f7;
    display: grid;
    justify-items: center;
    margin: 0px;
    gap: 30px;
    margin-top: 30px;
}

p{
    font-size: 20px; /* Alterando o tamanho dos paragrafos de 16px(padrão) para 20 px*/
}

a{
    text-decoration: none; /* Tira qualquer decoração que tenha na tag a */
}


img{
    max-width: 100%; /* Evita que ocorra o overflow, a img ocupa 100% do elemento pai*/
    display: block; /* faz com que a imagem se coporte como um bloco, ou seja do inicio ao fim do container. */
}

li{
    list-style: none;   
}
p,h1,h2,h3{
    margin: 0px;
}


/* 
=====================
Estilização do header
===================== 
*/
.menu{
    display: flex; /* Alinha os itens na horizontal*/
    gap: 30px; /* Cria um distanciamento entre os itens*/
    
}

.menu a{
    background-color: #FFFFFF;
    padding: 10px 20px; /* Espaçamento interno, quando utilizamos o atalho padding com dois valores, o primeiro valor é para cima/baixo e o segundo valor é para direita/esquerda */
    border-radius: 5px; /* Arredonda as bordas*/
    color: black;
    text-transform: uppercase; /* Deixa o texto com letras maiúsculas*/
    
}

.menu a:hover{
    background-color: #ee2211;
    color: #ffffff;

}
/* 
=====================
Estilização do conteúdo
===================== 
*/
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.introducao{
    background-color: #FFFFFF;
    padding: 40px;
    text-align: right;
    display: grid;
    align-content: center;
    justify-items:end ;
    gap: 20px;
}

.subtitulo{
    font-size: 64px;
    text-transform: uppercase;
    padding: 40px;
    color: rgba(0, 0, 0, 0.2);
    text-align: end;
    align-self: center;
}

.botao{
    background-color: #ee2211;
    color: #ffffff;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 4px;
}


/* 
=====================
Estilização das vantagens 
===================== 
*/
.vantagens{
    background-color: #FFFFFF;
    padding: 40px;
}

.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.vantagens-item p{
    grid-column: 2;
}

/* 
=====================
Estilização do rodapé
===================== 
*/

.rodape{
    background-color: #FFFFFF;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}